extends layout

block content
    input#pageGameId(type='hidden' value=gameId)
    input#pagePlayerId(type='hidden' value=playerId)
    input#pagePlayerName(type='hidden' value=username)
    
    div.row
        .col-lg.text-center
            h2.title ChessBoard
            div(id="myBoard" style="width:500px;padding-top:50px; margin:auto; min-width: 200px;")
            button(id="showPositionBtn") Show position in console


            form(class="lobby-play" method="POST" action="/lobby")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    a(class=buttonClass href="/lobby") Return to Lobby
        
    
        .col-lg
        section.section.chat-container
            .container
                .columns
                    .box.column.is-8.is-offset-2
                    h2.title Chat box
                    div(class="chatbox")
                        .chat-messages.has-text-left
                            ul#messages
                        form(id='chat-form')
                            .field.has-addons
                                input(id='room_id', type='hidden', value=gameId)
                                input(id='name', type='hidden', value=username)
                                p.control.is-expanded
                                    input(id='message' type='text' class='input' placeholder='Message')
                                p.control
                                    input(type='submit' class='button is-success' value='Send')
                    br
        script(src='/scripts/chessboard.js')
        script(src='/scripts/chat.js')
        script(src='/scripts/game.js')
        
        
            
                