extends layout

block content
    div.row
        //-Button Column
        .col-lg.text-center
            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes)  Play 
            hr(style="width:50%;")
            p User: #{user.username} Id: #{user.id}
            hr(style="width:50%;")
            h2.title Current Games
                ul#games
            form(class="lobby-play" method="POST" action="/lobby/create")
                #error
                    if error
                        p.text-danger Error!!!
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                hr
                //button(class=buttonClass type="submit" id="create_game") Create New Game
                input(name='hostName' type='text' placeholder='Host Name')
                hr
                input(type='submit' id='create_game' value='Create Game')
            form(class="lobby-logout" method="POST" action="'/users/logout'")
                #error
                    if error
                        p.text-danger Error!!!
                hr
                a(class=buttonClass href="/users/logout") Logout
                div(class="pictures")
                    <img src="\wikipedia\wN.png" alt="BlackKing" style="width:10vh">
                div
                    <img src="\wikipedia\wK.png" alt="BlackKing" style="width:10vh">
                     <img src="\wikipedia\wQ.png" alt="BlackKing" style="width:10vh">

        //-Chat column
        .col-lg
            section.section.chat-container
                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1(class=h1Classes) Chat box
                div(class="chatbox")
                    .chat-messages.has-text-left
                        ul#messages
                br
                form(id='chat-form' class = 'sendMsg')
                    .field.has-addons
                        input(id='room_id', type='hidden', value=0)
                        input(id='name', type='hidden', value=user.username)
                        p.control.is-expanded
                            input(id='message' type='text' class='form-control' placeholder='Send a Message')
                        p.control
                            input(type='submit' value='Send')
                br

        script(src='/scripts/chat.js')
        script(src='/scripts/lobby.js')