extends layout

block content
    div.row
        .col-lg.text-center
            div(id="board" style="width:500px;padding-top:50px; margin:auto; min-width: 200px;")

            form(class="lobby-play" method="POST" action="/lobby")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    button(class=buttonClass type="") Return To Lobby
        .col-lg
            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Lobby Chat
            form(class="" method="GET" action="")
                div(class="chatbox")
                    h1(class=h1Classes)  Player 1: Who wants to play
                    h1(class=h1Classes)  Player 2: I do
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                    h1(class=h1Classes)  Placeholder
                br
            form(class="" method="POST" action="")
                #error
                    if error
                        p.text-danger Error!!!
                div.row
                    .col-sm-9
                        input(type="text" name="message" id="message" class="form-control" placeholder="Send a message" required)
                    .col-sm-3
                        - var sendClass=['btn', 'btn-lg', 'btn-block']
                        button(class=sendClass type="submit") Send
                
                