extends layout

block content
    div.row
        //-Button Column
        .col-lg.text-center

                h1.text-center Chess
                p.text-center by Anna, Chunzheng, Kevin, Turmunkh
                hr(style="width:50%;")

                - var h1Classes = ['mb-3', 'font-weight-normal']
                    h1(class=h1Classes)  Play 
                //-Enter Queue button
                form(class="lobby-play" method="POST" action="")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    button(class=buttonClass type="") Queue
                //-Recconnect to previous game
                form(class="lobby-recon" method="POST" action="")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    button(class=buttonClass type="") Reconnect
                //-Logout
                form(class="lobby-logout" method="POST" action="'/users/logout'")
                    #error
                        if error
                            p.text-danger Error!!!
                    hr
                   a(class=buttonClass href="/users/logout") Logout
                div(class="pictures")
                    <img src="\images\chesspieces\wikipedia\wN.png" alt="BlackKing" style="width:10vh">
                    div
                        <img src="\images\chesspieces\wikipedia\wK.png" alt="BlackKing" style="width:10vh">
                        <img src="\images\chesspieces\wikipedia\wQ.png" alt="BlackKing" style="width:10vh">

        //-Chat column
        .col-lg
            section.section.chat-container
                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1(class=h1Classes) Chat box
                div(class="chatbox")
                    .chat-messages.has-text-left
                        ul#messages
                br
                form(id='chat-form' class = 'sendMsg')
                    .field.has-addons
                        p.control.is-expanded
                            input(id='message' type='text' class='form-control' placeholder='Send a Message')
                        p.control
                            input(type='submit' value='Send')
                br
                
                